@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Light.ttf") format("truetype")
      url("/fonts/IBMPlexMono-Regular.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2")
      format("woff2");
}

/* Applies the same font to all the text on the site, plus fallback fonts. */

* {
  font-family: "IBM Plex Mono", monospace, "Courier New", Courier, monospace,
    Arial, Helvetica, sans-serif;
}
