/* Media queries. Break points. Resizing for user optimization. */

/* SMARTPHONES. */
@media screen and (max-width: 560px) {
  .header-img {
    width: 80vw;
  }

  .dot1 {
    visibility: hidden;
  }

  h2 {
    font-size: 1.4em;
  }

  .media-query {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-img {
    width: 250px;
  }

  .article-info {
    display: unset;
    visibility: visible;
  }

  small {
    font-size: 1em;
  }

  .horizontal-line {
    padding: 3%;
    visibility: visible;
  }

  .footer-img {
    width: 30%;
    height: auto;
    padding-bottom: 10%;
  }
}

/* TABLETS. */
@media screen and (min-width: 560px) {
  .header-img {
    width: 70vw;
  }

  .dot1 {
    visibility: hidden;
  }
  .media-query {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-img {
    display: none;
  }

  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  p.info {
    display: flex;
    visibility: visible;
    text-align: center;
    padding: 2%;
  }

  small {
    font-size: 0.5em;
  }

  .tablet-img {
    padding: 3%;
    visibility: visible;
    display: unset;
    width: 50px;
    height: auto;
  }

  .horizontal-line {
    padding: 3%;
    visibility: visible;
  }
}

/* DESKTOPS AND LARGER SCREENS. */
@media screen and (min-width: 1024px) {
  .header-img {
    width: 40vw;
  }

  .article-img {
    display: flex;
    visibility: visible;
    width: 25vw;
    max-width: 300px;
  }

  .left {
    display: flex;
    flex-direction: row;
  }

  .right {
    display: flex;
    flex-direction: row-reverse;
  }

  .tablet-img {
    visibility: hidden;
    display: none;
  }

  .article-info {
    visibility: visible;
    display: flex;
  }

  .info {
    display: flex;
    align-self: stretch;
    font-size: 1em;
    padding: 1px;
  }

  .horizontal-hidden-line {
    visibility: hidden;
    display: none;
  }
}
